#!/bin/bash

# This hook is called when the system switches between AC and battery power.
# It adjusts the display brightness based on the power source.
# To put it into use, remove .sample from the name.

POWER_SOURCE=$1
BATTERY_BRIGHTNESS=40
AC_BRIGHTNESS=100

# Start with the first possible output, then refine to the most likely given an order heuristic.
DEVICE="$(ls -1 /sys/class/backlight 2>/dev/null | head -n1)"
for candidate in amdgpu_bl* intel_backlight acpi_video*; do
  if [[ -e /sys/class/backlight/$candidate ]]; then
    DEVICE="$candidate"
    break
  fi
done

if [[ $POWER_SOURCE == "battery" ]]; then
  brightnessctl -d "$DEVICE" set "${BATTERY_BRIGHTNESS}%"
elif [[ $POWER_SOURCE == "ac" ]]; then
  brightnessctl -d "$DEVICE" set "${AC_BRIGHTNESS}%"
fi
